{% extends "base.html" %}

{% block content %}
    <!-- awesomeness below for generating error pages -->
    <div class="row">
      {% if error == 500 %}
      <h2 class="bree"> 500 Internal Server Error: </h2>
      <p class="bree" style="font-size:1.3em"> Something really weird happened, sorry about that. No worries, I've been sent an email about this particularly strange event.</p>
      {% elif error == 404 %}
      <h2 class="bree"> 404 Page Not Found Error: </h2>
      <p class="bree" style="font-size:1.3em"> Sorry! looks like you tried to access a page that doesn't exist! Try hitting the link on top left to go back to the home page.</p>
      {% else %}
      <h2 class="bree"> Error: {{error}} </h2>
      <p><a href="mailto:contact@davidawad.com">Tell us about it?</a></p>
      {% endif %}

    </div>
{% endblock %}
