{% extends "base.html" %}

{% block content %}


      <div class="row">
          <div class="large-6 columns">
              <p class="look" id="gist" style="z-index=1"> SpaceShare
              <br>
              <span id="gistTwo"style="z-index=-10;color:#888">FAQ.</span></p>
          </div>
      </div>


      <div class="row">
      <h3> <b> </b></h3>
      <p>     </p>

      </div>

      <div class="row">
        <h3 class="panel"> <b> It's free?</b></h3>
        <p>     </p>

      </div>


{% endblock %}
