@import url('//fonts.googleapis.com/css?family=Pacifico|Cabin:400,700');
@import url('//fonts.googleapis.com/css?family=Bree+Serif|Cabin:400,700');

@font-face{
    font-family: 'billabong';
    src: url('billabong-webfont.eot');
    src: url('billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('billabong-webfont.woff') format('woff'),
         url('billabong-webfont.ttf') format('truetype'),
         url('billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.look{
  font-family: 'Pacifico';
}
.bree{
  font-family: 'Bree Serif'
}

#gist{
  font-size: 5em;
}
