<!doctype html>
<html lang="en">
<head>
  <title>Spaceshare | Share Freely</title>
  {% include 'includes.html' %}

  {% include 'banner.html' %}

    </head>
    <body>
      <br>
      <div class="row">
        <div class="large-6 columns">
          <p class="look" id="gist" style="z-index=1"> Share files...
            <br>
            <span id="gistTwo"style="z-index=-10;color:#888">instantly.</span></p>
          </div>
          <div class="large-6 columns">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="bree" style="font-size:1.3em"> Just upload a file and grab it somewhere else, it's quick, and it's simple, the way file sharing should be. Enjoy. </p>
          </div>
        </div>
        <div class="row">

          </div>

          {% include 'footer.html' %}

          <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
        </body>
        </html>
