<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/">
          <span class="look">Spaceshare.me <span class="hide-for-small">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "Friendship is never anything but sharing." - Elie Wiesel</span> </span>
        </a>
      </h1>
    </li>
  </ul>

  <!-- My Coding Philosophy
  (      (        )      )                    (      (                         )   (         )  (
  (      )\ )   )\ )  ( /(   ( /(  (          (      )\ )   )\ )  *   )   (  (     ( /(   )\ )   ( /(  )\ )
  )\    (()/(  (()/(  )\())  )\()) )\ )       )\    (()/(  (()/(` )  /(   )\))(   ')\()) (()/(   )\())(()/(
  ((((_)(   /(_))  /(_))((_)\  ((_)\ (()/(    ((((_)(   /(_))  /(_))( )(_)) ((_)()\ )((_)\   /(_))|((_)\  /(_))
  )\ _ )\ (_))   (_))    ((_)  _((_) /(_))_   )\ _ )\ (_))   (_)) (_(_())  _(())\_)() ((_) (_))  |_ ((_)(_))
  (_)_\(_)/ __|  | |    / _ \ | \| |(_)) __|  (_)_\(_)/ __|  |_ _||_   _|  \ \((_)/ // _ \ | _ \ | |/ / / __|
  / _ \  \__ \  | |__ | (_) || .` |  | (_ |   / _ \  \__ \   | |   | |     \ \/\/ /| (_) ||   /   ' <  \__ \
  /_/ \_\ |___/  |____| \___/ |_|\_|   \___|  /_/ \_\ |___/  |___|  |_|      \_/\_/  \___/ |_|_\  _|\_\ |___/

-->

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><a href="/faq.html"><span class="bree">FAQ</span></a></li>
      <li class="divider"></li>
      <li><a href="/about.html" ><span class="bree">About Me</a></li>
        <li class="divider"></li>
        <li><a href="https://github.com/davidawad/spaceshare"> <span class="bree">Docs</span></a></li>
        <li class="divider"></li>
      </section>
    </nav>
