<!doctype html>
<html lang="en">
<head>
  <title>Spaceshare | {{error}} Error!</title>
  {% include 'includes.html' %}
  
  {% include 'banner.html' %}

</head>
<body>
  <br>
  <div class="row">
  <div class="large-6 columns">
    <p class="look" id="gist" style="z-index=1"> Share files...
      <br>
      <span id="gistTwo"style="z-index=-10;color:#888">instantly.</span></p>
    </div>
    <div class="large-6 columns">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- awesomeness below for generating pages -->
      {% if error==500 %}
      <p class="bree" style="font-size:1.3em"> Something really weird happened, sorry about that. No worries, I've been sent an email about this particularly strange event. </p>
      {% elif error == 404 %}
      <p class="bree" style="font-size:1.3em"> Sorry! looks like you tried to access a page that doesn't exist! Try hitting the link on top to go back</p>
      {% else %}
      <p> How did you get here? </p> Hit the link up top to get back where you belong my friend.
      {% endif %}

    </div>
  </div>

    {% include 'footer.html' %}

        <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
      </body>
      </html>
