<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p class="look">© 2015 David Awad</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="https://google.com"><i class="icon-facebook_circle icon2x"></i></a></li>
          <li><a href="https://google.com"><i class="icon-twitter_circle icon2x"></i></a></li>
          <li><a href="https://github.com"><i class="icon-git_circle icon2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


                                    <!-- 柔道 -->
