<!doctype html>
<html lang="en">
  <head>
    <title>Spaceshare | Share Freely </title>

    {% include 'includes.html' %}

    {% include 'banner.html' %}

    </head>
<body>
<br>

<div class="row">

  <div class="large-6 columns">
    <p class="look" id="gist" style="z-index=1"> Share files...
    <br>
    <span id="gistTwo"style="z-index=-10;color:#888">instantly.</span></p>
  </div>
  <div class="large-6 columns">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="bree" style="font-size:1.3em"> Just upload a file and grab it somewhere else, it's quick, and it's simple, the way file sharing should be. Enjoy. </p>
  </div>
</div>

<!-- awesomeness below for generating pages -->
{% if space and new %}
<div class="row">
  <div class="large-12 columns">
    <p class="look response" id="rejection">Sorry!! {{space}} isn't available right now. Try {{new}}?</p>
</div>
{% elif upload and space %}
<div class="row">
  <div class="large-12 columns">
    <p class="look" style="font-size:5em">Thanks!! You've reserved space {{space}}, you can access it at <span href="/upload/{{space}}">/upload/{{space}}</span>!</p>
  </div>
{% elif failed %}
<div class="row">
  <div class="large-12 columns">
    <img src="http://www.google.com/images/errors/robot.png">
    <p class="bree" id="rejection">Sorry!! The upload failed for some reason. <a href=mailto:davidawad64@gmail.com>email me</a></p>
</div>
{% endif %}

<div class="row">
	<div class="large-5 columns">
		<div class="panel">
      <center>
		    <h2><a href="" class="bree">Create a Space</a></h2>
        <form action="upload" method="POST" enctype="multipart/form-data" onsubmit="fileUpload();">
          <br>
			    <input type="number" name="space" id="reserve" placeholder="e.g. '32' "/>
			    <input type="file" name="file">
          <input type="submit" value="upload" class="radius button" style="font-family:Pacifico ; font-size:2em">
        </center>
		    </form>
    </div>
	</div>
  <div class="large-2 columns"> </div>

	<div class="large-5 columns">
		<div class="panel">
      <center>
			<h2><a href="" class="bree">Open a Space</a></h2>
      <br>
      <form action="open" method="" onsubmit="SubmitFrm(); return false;" >
				<input type="number" name="space" id="redir" placeholder="e.g. '32' "/>
        <br>
        <input type="submit" value="download" class="radius button" style="font-family:Pacifico ; font-size:2em">
        </center>
      </form>
      <br>
    </div>
	</div>
</div>

{% include 'footer.html' %}

    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>

    <script type="text/javascript">

    function SubmitFrm(){
      console.log("function!")
      var space = document.getElementById("redir").value;
      console.log(space);
      window.location = "/upload/"+space;
    }

    function fileUpload(){
      var space = document.getElementById("reserve").value;
      console.log("SpaceReserve request :"+space);
    }

    ( function($) {
    /* we can now rely on $ within the safety of our "bodyguard" function

     basically it means we can use jQuery
     */
    $(document).ready( function() {
      $('#gist').hide().fadeIn(800);
      $('#gistTwo').hide().fadeIn(4000);
      } );
    } )( jQuery );

    </script>
  </body>
</html>
