@font-face{
    font-family: 'billabong';
    src: url('billabong-webfont.eot');
    src: url('billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('billabong-webfont.woff') format('woff'),
         url('billabong-webfont.ttf') format('truetype'),
         url('billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.exbutton {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%;
  /* auto */
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */
}

.exbutton.dark {
  background: none repeat scroll 0 0 #444444;
  color: #FFFFFF;
}
.exbutton.dark:hover {
  background: none repeat scroll 0 0 #2DB6CF;
  color: #FFFFFF;
}

html, body {
  /* background-image: url("/img/swirl_pattern.png") !important ; */
  background: #262626;
}

*::selection {
  background: #323232;
  color: white;
}

.look{
  font-family: 'Pacifico';
}
.bree{
  font-family: 'Bree Serif'
}

#gist{
  font-size: 5em;
}

.create-button{
  font-family:Pacifico;
  font-size:2em;
}
